.container{
    .rate-percent{
        // position: relative;
        .item{
            .ant-progress {
                position: relative;
                left: 6px;
                top: -1px;
            }
            .ant-progress-line{
                width: 30%;
            }
        }
       
        .star{
            font-size: 12px;
            color: #666;
        }
    }
    .star-rate{
        margin-bottom: 0px;
        ul{
            li{
                // float: left;
                list-style: none;
            }
        }
        .ul-score{
            float: left;
            line-height: 45px;
            font-size: 31px;
            margin-right: 11px;
            height: 22px;
            margin-left: -42px;
        }
    }
}