.container{
    background-color: #d0d0c7;
    width: 100%;
    height: 80px;
    padding-left: calc(50%);
    .font-search{
        font-size: 33px;
        font-family: Georgia, serif;
        color: #977C00;
        font-weight: bold;
        cursor: pointer;
        padding-top: 10px;
    }
    .input-search{
        // margin-top: 7px;
        // margin-left: 16px;
        width: 456px;
        height: 66px;
        // padding-top: 10px;
        position: relative;
        top: -96px;
        left: 193px;
    }
    .ant-card {
        //ant-card-wider-padding ant-card-padding-transition
        background-color: #d0d0c7;
        height: 80px;
    }
}